img{
    width: 50%;
    height: 50%;
    border: 0px;
    border-color: solid black;
    border-bottom: 20px;
    padding: 0px;
}
#imgInicio{
    border: 0px;

}
body{
    margin: 0px;
}
.textoInicio{
    font-size: 20px;
    font-family: Arial;
    margin-top: 50px;
    padding: 0px;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-right: 1px;
    border-right: 1px;
    position: absolute;
}
.homepage{
    padding: 0px;
    border: 0px;
}
p{
    text-align: justify;
    font-size: 18px;
    font-family: Arial;
    margin:20px ;
}
h1{
    margin-left:20px ;
    font-family: arial;
}
ul{
    margin-left:20px ;
    font-family: arial;
}
.tituloUl{
    font-weight: bolder;
}
ol{
    margin-left:20px ;
    font-family: arial;
}

#numeroContato{
    font-size: 14px;
    color: rgb(72, 175, 106);
}
#instagramContato{
    font-size: 14px;
    color: rgb(204, 63, 181);
}
#twitterContato{
    font-size: 14px;
    color: aqua;
}
#youtubeContato{
    font-size: 14px;
    color: brown;
}